$white: #ffffff;
$lotion: #FCFCFC;
$cinnabar: #E73E33;
$alabaster: #EFEBE7;
$dark_silver: #707070;
$india_green: #0B850B;
$almond_roca: #efe7de;
$venetian_red: #CC1512;
$super_silver: #f0f0f0;
$vivid_tangelo: #f07427;
$liquid_nitrogen: #f7f7f8;
