@import "../../styles/colors.scss";

.posts_with_comments_container {
  width: 70%;
  margin: auto;
  overflow: auto;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;

  .search_input {
    padding: 5px;
    width: 250px;
    height: 25px;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid $vivid_tangelo;
    background-color: $liquid_nitrogen;
    margin-left: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

    &::placeholder {
      color: $vivid_tangelo;
      padding-left: 5px;
    }
  }

  .accordion {
    background-color: $almond_roca;
    border-bottom: 1px solid $vivid_tangelo;
    margin: 10px;

    .expand_icon {
      color: $vivid_tangelo;
    }

    .post_title {
      font-weight: 400;
    }

    .accordion_details {
      .add_comment_textarea_container {
        position: relative;
        display: flex;
        justify-content: center;

        .add_comment_textarea {
          width: 74.5%;
          height: 60px;
          border: none;
          padding: 12px 50px 0 12px;
          resize: none;
          margin-bottom: 5px;
          border-radius: 4px;
          background-color: $lotion;

          &:focus {
            outline: none;
          }

          &::placeholder {
            font-size: 14px;
          }
        }

        .send_comment_icon {
          position: absolute;
          right: 115px;
          width: 25px;
          margin-top: 13px;
          fill: $india_green;
          cursor: pointer;
        }
      }

      .comments_container {
        position: relative;
        width: 80%;
        margin: auto;
        border: 1px solid $white;
        background-color: $super_silver;

        .comment_body {
          text-align: center;
          display: grid;
          padding: 8px;
          font-size: 14px;
          margin-bottom: 5px;
          border-radius: 8px;
          background-color: $alabaster;
          border-bottom: 1px solid $vivid_tangelo;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

          &:hover {
            background-color: $super_silver;
          }

          .comment {
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;

            p {
              width: 65%;
              word-wrap: break-word;
            }

            .trash_box_icon {
              position: absolute;
              margin-left: 90%;
              width: 20px;
              display: flex;
              cursor: pointer;
              fill: $dark_silver;

              &:hover {
                fill: $cinnabar;
              }
            }
          }

          .reply_textarea {
            width: 500px;
            height: 25px;
            border: none;
            margin: auto;
            resize: none;
            margin-top: 10px;
            border-radius: 4px;
            background-color: $lotion;
            cursor: pointer;
            padding: 12px 50px 0 12px;

            &:focus {
              outline: none;
            }

            &::placeholder {
              padding-top: 3px;
              font-size: 12px;
            }
          }

          .reply_button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: $dark_silver;
            display: flex;
            justify-content: end;
            width: 98%;

            &:hover {
              color: blue;
            }
          }
        }

        .reply_comment_icon {
          position: absolute;
          width: 20px;
          right: 136px;
          fill: #0b850b;
          cursor: pointer;
          margin-top: 15px;
          height: 25px;

          &:hover {
            color: blue;
          }
        }
      }
    }
  }

  .item_not_found {
    width: 500px;
    height: 300px;
    margin: auto;
  }

  .pagination_container {
    display: flex;
    align-items: end;
    margin-top: 20px;
  }
}
