$white: #ffffff;
$lotion: #FCFCFC;
$alabaster: #EFEBE7;
$lynx_white: #f7f7f7;
$almond_roca: #efe7de;
$venetian_red: #CC1512;
$super_silver: #f0f0f0;
$vivid_tangelo: #f07427;
$lavender_savor: #f1dafe;
$liquid_nitrogen: #f7f7f8;
