@import "../../styles/colors.scss";

.posts_with_comments_container {
  width: 75%;
  margin: auto;
  overflow: auto;

  h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 5px;
  }

  .search_input {
    padding: 5px;
    width: 250px;
    height: 25px;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid $vivid_tangelo;
    background-color: $liquid_nitrogen;
    margin-left: 2px;

    &::placeholder {
      color: $vivid_tangelo;
      padding-left: 5px;
    }
  }

  .accordion {
    background-color: $almond_roca;
    border-bottom: 1px solid $vivid_tangelo;
    margin: 6px;

    .expand_icon {
      color: $vivid_tangelo;
    }

    .accordion_details {
      .add_comment_textarea {
        width: 650px;
        height: 60px;
        border: none;
        padding: 8px;
        resize: none;
        margin: auto;
        display: flex;
        margin-bottom: 5px;
        border-radius: 4px;
        background-color: $lotion;

        &:focus {
          outline: none;
        }

        &::placeholder {
          font-size: 14px;
        }
      }

      .comments_container {
        border: 1px solid $white;
        background-color: $super_silver;

        .comment_body {
          text-align: center;
          display: grid;
          padding: 8px;
          font-size: 14px;
          margin-bottom: 5px;
          border-radius: 8px;
          background-color: $alabaster;
          border-bottom: 1px solid $vivid_tangelo;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

          &:hover {
            background-color: $super_silver;
          }

          .comment {
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;

            p {
              width: 65%;
              word-wrap: break-word;
            }

            .trash_box_icon {
              position: absolute;
              margin-left: 90%;
              width: 20px;
              display: flex;
              cursor: pointer;
            }

            &:hover {
              background-color: $white;
            }
          }

          .reply_textarea {
            width: 600px;
            height: 25px;
            border: none;
            padding: 5px;
            margin: auto;
            resize: none;
            margin-top: 10px;
            border-radius: 4px;
            background-color: $lotion;
            cursor: pointer;

            &:focus {
              outline: none;
            }

            &::placeholder {
              padding-top: 3px;
              font-size: 12px;
            }
          }
        }

        // .send_icon {
        //   fill: grey;
        //   width: 35px;
        //   margin-right: 3px;
        //   background-color: $lotion;
        //   border-top-right-radius: 4px;
        //   border-bottom-right-radius: 4px;
        // }
      }
    }
  }

  .pagination_container {
    display: flex;
    align-items: end;
    margin-top: 20px;
  }
}
